<section class="block">
  <header class="block__header">
    <h2>What our customers are Saying</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis officia
      alias dolorem veritatis accusantium quidem facere, labore magni
      perferendis cupiditate?
    </p>
  </header>
  <div class="container">
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image-container">
          <img
            class="testimonial__image"
            src="images/testimonial.jpg"
            alt="一个满意且微笑的客户"
          />
          <span class="icon-container icon-container--accent">
            <svg class="icon icon--white icon--small">
              <use xlink:href="images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate
            delectus laboriosam eum quia consectetur at vitae reiciendis
            corrupti explicabo deserunt?
          </p>
          <footer>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary quote__line">
                  <use xlink:href="images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">Jhone Lumeo</h3>
                <p class="quote__author-description">Comepany ceo</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
